# Chapter 5
### Control Structures

Pick any number within the range of 99 and 199 and check if the number is divisible by 7 using Python code. If the number is divisible, print the following: “the number is divisible by 7”; otherwise, print the number closest to the number you picked that is divisible by 7. Using a while loop, print all the numbers that are divisible by 7 within the same range.

In [1]:
import random

random_number = random.randint(99, 199)
# print(random_number)
number_list = []

In [2]:
for i in range(1, 20):
    random_number = random.randint(99, 199)
    number_list.append(random_number)
    # print(random_number)

def is_divisible_by_seven(num):
    for n in num:
        if n % 7 == 0:
            print(n, " is divisble by 7.")
        else:
            print(n, "is not divisible by 7.")
            x = n
            while x % 7 != 0:
                x += 1
            print(x, "is the next number divisible by 7.")


is_divisible_by_seven(number_list)

174 is not divisible by 7.
175 is the next number divisible by 7.
132 is not divisible by 7.
133 is the next number divisible by 7.
182  is divisble by 7.
181 is not divisible by 7.
182 is the next number divisible by 7.
161  is divisble by 7.
133  is divisble by 7.
131 is not divisible by 7.
133 is the next number divisible by 7.
125 is not divisible by 7.
126 is the next number divisible by 7.
111 is not divisible by 7.
112 is the next number divisible by 7.
152 is not divisible by 7.
154 is the next number divisible by 7.
113 is not divisible by 7.
119 is the next number divisible by 7.
186 is not divisible by 7.
189 is the next number divisible by 7.
113 is not divisible by 7.
119 is the next number divisible by 7.
164 is not divisible by 7.
168 is the next number divisible by 7.
130 is not divisible by 7.
133 is the next number divisible by 7.
176 is not divisible by 7.
182 is the next number divisible by 7.
157 is not divisible by 7.
161 is the next number divisible by 7.
122 is not divisible by 7.
126 is the next number divisible by 7.
109 is not divisible by 7.
112 is the next number divisible by 7.

In [4]:
import pandas as pd
import numpy as np

df_cities = pd.read_csv('./data/california_cities.csv')
df_cities.head()

,Unnamed: 0,city,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
0,0,Adelanto,34.576111,-117.432778,875.0,2871.0,31765,56.027,56.009,0.018,145.107,145.062,0.046,0.03
1,1,AgouraHills,34.153333,-118.761667,281.0,922.0,20330,7.822,7.793,0.029,20.260,20.184,0.076,0.37
2,2,Alameda,37.756111,-122.274444,NaN,33.0,75467,22.960,10.611,12.349,59.465,27.482,31.983,53.79
3,3,Albany,37.886944,-122.297778,NaN,43.0,18969,5.465,1.788,3.677,14.155,4.632,9.524,67.28
4,4,Alhambra,34.081944,-118.135000,150.0,492.0,83089,7.632,7.631,0.001,19.766,19.763,0.003,0.01

In [9]:
num = df_cities['elevation_m'].isna().sum()
print(num)
df_cities['elevation_m'].describe()

48

count     434.000000
mean      180.416705
std       309.531825
min       -34.000000
25%        22.000000
50%        67.000000
75%       173.500000
max      2402.000000
Name: elevation_m, dtype: float64

In [10]:
num1 = df_cities['elevation_ft'].isna().sum()
print(num1)

12